{{#extends 'base'}}

{{#block 'content'}}
<div class="container-fluid">
    <div class="container content-container">
        <div class="h-100 p-3 d-flex flex-column justify-content-center">
            {{!-- <h3>Deleting Variant for "{{variant.luggage.model}}"</h3> --}}
            <div class="alert alert-danger">
                <p>Are you sure you want to delete the following variant?</p>
            
                <form method="POST">
                     {{!-- <input type="hidden" name="_csrf" value="{{csrfToken}}"/> --}}
                    <div class="custom-btn-group">
                        <a href="/products/{{shoes.id}}/variants"
                            class="btn btn-sm btn-dark btn-outline-light">Cancel</a>
                        <input type="submit" value="Delete Variant" class="btn btn-sm btn-dark btn-outline-light">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{{/block}}

{{/extends}}